<template name='about'>
<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">About Us</h2>
	</div>
	<div class="col-lg-4 col-sm-6 text-center img-center">
		<img class="img img-circle" src="Colen.jpg" width="200px" alt="">
		<h3>Chris Colen
		</h3>
		<p>A computer science student at Cornell University. Loves to play frisbee and soccer.</p>
	</div>
	<div class="col-lg-4 col-sm-6 text-center">
		<img class="img img-circle" src="Shalin.jpg" width="200px" alt="">
		<h3>Shalin Patel
		</h3>
		<p>A computer engineering student at Cooper Union. Is super cool and totally didn't write this.</p>
	</div>
	<div class="col-lg-4 col-sm-6 text-center">
		<img class="img img-circle" src="Larry.jpg" width="200px" alt="">
		<h3>Lawrence Maceren
		</h3>
		<p>A computer science and computer engineering double major at Rutgers University. Held the former world record in cup stacking.</p>
	</div>
	<div class="col-lg-4 col-sm-6 text-center">
		<img class="img img-circle" src="Harry.jpg" width="200px" alt="">
		<h3>Harold Goldstein
		</h3>
		<p>Also a computer science student at Cornell University. Likes to give people sass.</p>
	</div>
</div>

<hr>

</template>