<template name='about'>
<h1 id="about_head" >About</h1>
<div id="about_body"> Study Buddy is awesome! You can create and customize your own user page with your classes and preferences. 
We can connect you with other students who need a Study Buddy for any of your college courses. 
Study Buddy also allows students to upload class notes. You can see notes from anyone taking a similar course.
Feel liking flying solo? You can look through worksheets and old tests to practice.
Create an account today and find your next Studdy Buddy!
</div>

</template>