<template name='create'>
	<form>
		<legend>Create Account</legend>
		<div class="form-group">
			<label for="">First Name</label>
			<input type="text" class="form-control" name="firstName" placeholder="First Name" required="required">
			<label for="">Last Name</label>
			<input type="text" class="form-control" name="lastName" placeholder="Last Name" required="required">
			<label for="">Username</label>
			<input type="text" class="form-control" name="username" placeholder="Username" required="required">
			<label for="">Password</label>
			<input type="password" class="form-control" name="password" placeholder="Password" required="required">
			<label for="">Confirm Password</label>
			<input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" required="required">
			<label for="">Email Address</label>
			<input type="text" class="form-control" name="emailAddress" placeholder="Email Address" required="required">
			<label for="">Educational Institution</label>
			<select name="educationalInstitution" class="form-control">
				<option value="">Cornell University</option>
				<option value="">Rutgers University</option>
				<option value="">Drexel University</option>
				<option value="">The Cooper Union for the Advancement of Science and Art</option>
			</select>
		</div>
		<input type="submit" class="btn btn-primary" value="Login">
	</form>
	<a id="goBack">Back</a>
</template>