<template name="home">
	<!-- Carousel start -->
	<body>
		<div id="carousel-id" class="carousel slide" data-ride="carousel">
		    <ol class="carousel-indicators">
		        <li data-target="#carousel-id" data-slide-to="0" class=""></li>
		        <li data-target="#carousel-id" data-slide-to="1" class=""></li>
		        <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
		    </ol>
		    <div class="carousel-inner">
		        <div class="item">
		            <img data-src="holder.js/900x500/auto/#444:#4a4a4a/text:First slide" alt="First slide" src="home_images/blue.jpg" >
		            <div class="container">
		                <div class="carousel-caption" >
		                    <h1 >Example headline.</h1>
		                    <p>SHALIN IS KEWL</p>
		                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
		                </div>
		            </div>
		        </div>
		        <div class="item">
		            <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="home_images/red.jpg">
		            <div class="container">
		                <div class="carousel-caption">
		                    <h1>Another example headline.</h1>
		                    <p>COLEN IS GHEY</p>
		                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
		                </div>
		            </div>
		        </div>
		        <div class="item active">
		            <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide" src="home_images/purple.jpg">
		            <div class="container">
		                <div class="carousel-caption">
		                    <h1>One more for good measure.</h1>
		                    <p>LARRY HARRY POWER HOUR</p>
		                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
		                </div>
		            </div>
		        </div>
		    </div>
		    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		    <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>		
	</body>
	<!-- Carousel end -->	
	
<div class="flip-3d">
<figure>
<img src="home_images/Internet.png" alt="">
<figcaption id="caption1">Create and customize your own user page with your classes and preferences.
After, we can connect you with other students who need a Study Buddy for any of your college courses.</figcaption>
</figure>
</div>
<div class="flip-3d">
<figure>
<img src="home_images/Notes.png" alt="">
<figcaption id="caption2">Study Buddy allows students to upload class notes. They can see notes from other students taking
the same course, or a similar course. Collaborate with others and work together to learn everything you need!</figcaption>
</figure>
</div>
<div class="flip-3d">
<figure>
<img src="home_images/Test.png" alt="">
<figcaption id="caption3">Feel liking flying solo? You can look through worksheets and old tests to practice. Master the material
you need to pass all your exams with flying colors!</figcaption>
</figure>
</div>
</template>