<template name="home">
	<!-- Carousel start -->
	<body>
		<div id="carousel-id" class="carousel slide" data-ride="carousel">
		    <ol class="carousel-indicators">
		        <li data-target="#carousel-id" data-slide-to="0" class=""></li>
		        <li data-target="#carousel-id" data-slide-to="1" class=""></li>
		        <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
		    </ol>
		    <div class="carousel-inner">
		        <div class="item">
		            <img data-src="holder.js/900x500/auto/#444:#4a4a4a/text:Second slide" alt="First slide" src="home_images/blue.jpg" >
		            <div class="container">
		                <div class="carousel-caption">
		                    <h1>Example headline.</h1>
		                    <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
		                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
		                </div>
		            </div>
		        </div>
		        <div class="item">
		            <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="home_images/red.jpg">
		            <div class="container">
		                <div class="carousel-caption">
		                    <h1>Another example headline.</h1>
		                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
		                </div>
		            </div>
		        </div>
		        <div class="item active">
		            <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide" src="home_images/purple.jpg">
		            <div class="container">
		                <div class="carousel-caption">
		                    <h1>One more for good measure.</h1>
		                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
		                </div>
		            </div>
		        </div>
		    </div>
		    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		    <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>		
	</body>
	<!-- Carousel end -->	

	<div class="info_blocks" id="site_info" >
		<div> 
			<img class="img-circle" id="info_image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140" align="middle">
			<h2 align="center">Get Study Buddys</h2>
			<p>This site helps you get Study Buddys for homework, labs, and so much more</p>
		</div>
		<div> 
			<img class="img-circle" id="info_image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
			<h2 align="center" >Get Notes</h2>
			<p>Students can upload their class and can view notes uploaded by students from any college</p>
		</div>
		<div>
			<img class="img-circle" id="info_image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
			<h2 align="center" >Get Practice</h2>
			<p>Study Buddy connects you to material from worksheets to previous exams</p>
		</div>
	</div>

</template>