<template name='login'>
	<form>
		<legend>Login</legend>
		<div class="form-group">
			<label for="">Username</label>
			<input type="text" class="form-control" name="username" placeholder="Username">
			<label for="">Password</label>
			<input type="password" class="form-control" name="password" placeholder="Password">
		</div>

		<button type="submit" class="btn btn-primary" formaction="#">Login</button>

		<div class="new-account">
			<p>Don't have an account? Click <a id="notUser" href="">here</a>.</p>
		</div>
		<div class="email-information">
			<p><a>Forgot password?</a></p>
			<p><a>Forgot username?</a></p>
		</div>
	</form>
</template>