<template name="profile">

	<!-- bootstrap -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>  

    <!-- x-editable (bootstrap version) -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/js/bootstrap-editable.min.js"></script>

	<div class="row">
		<div class="col-md-9">
			<div style="width:1100px;height:200px;overflow:hidden">
				<img src="rutgers.jpg" width="1100" height="200">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<div style="width:200px;height:200px;overflow:hidden">
				<img src="cat.jpg" width="200" height="200">
			</div>
		</div>
		
		<div class="col-sm-1 col-md-8">
		<p></p>
			<p><h3>First Name Last Name - School Name</h3></p>
		</div>
		
		<div class="col-sm-6 col-md-1"></div>
		<div class="col-sm-6 col-md-4">
			<h3> </h3>
			<h3> </h3>
			<p>Student/Professor at University</p>
			<p>Major: Computer Science</p>
			<p>Class of 2018 (Don't show if professor)</p>
			<p>Birthday: August 24, 1996</p>
		</div>
		<div class="col-sm-6 col-md-4">
			<h3> </h3>
			<h3> </h3>
			<p>School Email: duckfacemaster@cornell.edu</p>
			<p>Personal Email: duckfacemaster@gmail.com</p>
			<p></p>
			<p>LinkedIn: Too Much Swag</p>
		</div>
	</div>
	
</template>