<!DOCTYPE HTML>
<html>
<head>
	<title>Shalin </title>
	<link type="text/css" rel="stylesheet" href="stylesheet.css" />
	<link rel = "shortcut icon" href = "../public/cat.jpg"/>
</head>



<body>
	<h1>WEBSITE WOOO</h1>
	
	<ul>
		<li>
			<div id="content">
				<p>Cats Yo!</p>
				<img width="200px" height="150px" src="../public/cat.jpg" />
			</div>
		</li>
		<li>
			<div>
				<p>Dogs Yo!</p>
				<img width="200px" height="250px" src="../public/dog.jpg" />
			</div>
		</li>
		
	</ul>
	
	<a href="other.html">more stuff!</a>
</body>

</html>